@model IEnumerable<InterviewResponseModel>;

<div class="page-header">
    <h1>List of Interviews</h1>
</div>

<a asp-action="Create" asp-controller="Interview">Add New Interview</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>SubmissionId</th>
            <th>InterviewRound</th>
            <th>InterviewTypeId</th>
            <th>InterviewStatusId</th>
            <th>InterviewDate</th>
            <th colspan="2">Options</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.SubmissionId</td>
                    <td>@m.InterviewRound</td>
                    <td>@m.InterviewTypeID</td>
                    <td>@m.InterviewStatusID</td>
                    <td>@m.InterviewDate</td>
                    <td><a asp-action="Edit" asp-controller="Interview" asp-route-id="@m.Id">Edit</a></td>
                    <td><a asp-action="Delete" asp-controller="Interview" asp-route-id="@m.Id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
