@model IEnumerable<EmployeeStatusResponseModel>;

<div class="page-header">
    <h1>List of Employee Status</h1>
</div>

<a asp-action="Create" asp-controller="EmployeeStatus">Add New Employee Status</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Is Active</th>
            <th colspan="2">Options</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Type</td>
                    <td>@m.Description</td>
                    <td>@m.IsActive</td>
                    <td><a asp-action="Edit" asp-controller="EmployeeStatus" asp-route-id="@m.Id">Edit</a></td>
                    <td><a asp-action="Delete" asp-controller="EmployeeStatus" asp-route-id="@m.Id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>
