@model IEnumerable<SubmissionResponseModel>;

<div class="page-header">
    <h1>List of Submissions</h1>
</div>

<a asp-action="Create" asp-controller="Submission">Add New Submission</a>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>CandidateId</th>
            <th>JobRequirementId</th>
            <th>AppliedOn</th>
            <th colspan="2">Options</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.CandidateId</td>
                    <td>@m.JobRequirementId</td>
                    <td>@m.AppliedOn</td>
                    <td><a asp-action="Edit" asp-controller="Submission" asp-route-id="@m.Id">Edit</a></td>
                    <td><a asp-action="Delete" asp-controller="Submission" asp-route-id="@m.Id">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>